{% extends 'base.html' %}

{% block title %}
Category list
{% endblock title %}

{% block content %}
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of receipts</th>
                        </tr>
                    </thead>
                    {% for category in categories %}
                        <tbody>
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ category.receipts.all|length }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
{% endblock content %}
