<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url "logout" %}">Log out</a>
                    <a href="{% url "home" %}">Main Page</a>
                    <a href="{% url "create_receipt" %}">Create Receipt</a>
                    <a href="{% url "category_list" %}">Categories</a>
                    <a href="{% url "account_list" %}">Accounts</a>
                    <a href="{% url "create_category" %}">Category creation</a>
                    <a href="{% url "create_account" %}">Account creation</a>
                </li>

                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url "login" %}">Login</a>
                    <a href="{% url "signup" %}">Sign up</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
