{% extends 'base.html' %}

{% block title %}
Account list
{% endblock title %}

{% block content %}
        <main>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Number of receipts</th>
                        </tr>
                    </thead>
                    {% for each in accounts %}
                        <tbody>
                            <tr>
                                <td>{{ each.name }}</td>
                                <td>{{ each.number }}</td>
                                <td>{{ each.receipts.all|length }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
{% endblock content %}
