<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - accounts</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <a href="{% url "logout" %}">Log out</a>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url "login" %}">Login</a>
                    <a href="{% url "signup" %}">Sign up</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>
