{% extends 'base.html' %}

{% block title %}
Receipt list
{% endblock title %}

{% block content %}
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in receipts %}
                        <tr>
                            <td>{{ list.vendor }}</td>
                            <td>{{ list.total }}</td>
                            <td>{{ list.tax }}</td>
                            <td>{{ list.date|date:"m/d/y" }}</td>
                            <td>{{ list.category.name }}</td>
                            <td>{{ list.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
{% endblock content %}
